.navbar {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 75px;
}

.navbar-background {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    height: 100%;

    background-color: rgb(11, 1, 26);
    box-shadow: 0px 0px 10px 0px black;
}

@media (max-width: 768px) {
    .navbar {
        height: 60px;
    }

    .navbar-background {
        padding: 0px 10px;
        width: 100%;
    }
}

/*------------------------- Title -------------------------*/

.navbar-title {
    font-size: 2.5rem;
    color: white;
}

.navbar-title span {
    color: rgb(225, 69, 51);
}

@media (max-width: 768px) {
    .navbar-title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .navbar-title {
        font-size: 1.2rem;
    }
}

/*------------------------- Links -------------------------*/
.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

.navbar-links li {
    width: 160px;
    height: 100%;
}

.navbar-links li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 15px;
    width: 100%;
    height: 100%;

    color: white !important;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-links li a:hover {
    background-color: rgb(225, 69, 51);
    color: white !important;
}

@media (max-width: 768px) {
    .navbar-links li {
        width: 70px;
    }

    .navbar-links li a {
        padding: 0px 5px;
        font-size: 0.9rem;
    }
}

/*------------------------- User -------------------------*/
.navbar-user {
    width: 50px;
    height: 50px;
    filter: invert(100%) brightness(200%);
}

@media (max-width: 768px) {
    .navbar-user {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .navbar-user {
        width: 30px;
        height: 30px;
    }
}