.navbar {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 120px;
}

.navbar-background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 3%;
    width: 80%;
    height: 100%;

    background-color: var(--navbar-background-color);
    box-shadow: 0px 0px 10px 0px black;
}

@media (max-width: 768px) {
    .navbar {
        height: 90px;
    }

    .navbar-background {
        padding: 0px 10px;
        width: 100%;
    }
}

/*------------------------- Title -------------------------*/

.navbar-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5rem;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(130deg, var(--gold-gradient));
    background-clip: text;
    -webkit-background-clip: text;
    animation: moveBackground 2.5s linear infinite;

    background-size: 150% 100%;
}

.navbar-title-logo {
    width: 120px;
    height: 120px;
}

@keyframes moveBackground {
    0% {
        background-position: -100% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

@media (max-width: 768px) {
    .navbar-title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .navbar-title {
        font-size: 1.2rem;
    }
}

/*------------------------- Links -------------------------*/
.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

.navbar-links li {
    width: 160px;
    height: 100%;
}

.navbar-links li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 15px;
    width: 100%;
    height: 100%;

    color: var(--navbar-links-color) !important;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-links li a:hover {
    background-color: var(--navbar-links-hover-background-color);
    color: var(--navbar-links-hover-color) !important;
}

@media (max-width: 768px) {
    .navbar-links li {
        width: 70px;
    }

    .navbar-links li a {
        padding: 0px 5px;
        font-size: 0.9rem;
    }
}

/*------------------------- User -------------------------*/
.navbar-user {
    width: 50px;
    height: 50px;
    filter: invert(100%) brightness(200%);
}

@media (max-width: 768px) {
    .navbar-user {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .navbar-user {
        width: 30px;
        height: 30px;
    }
}