.home {
    display: flex;
    height: 100%;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-goldfall {
    width: 280px;
}

@media (max-width: 1280px) {
    .home-goldfall {
        width: 240px;
    }
}

@media (max-width: 1024px) {
    .home-goldfall {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .home-goldfall {
        display: none;
    }
}