.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--wine);
    overflow: hidden;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 80px);
    width: 100%;
}

.ad-container {
    position: absolute;
    width: 220px;
    height: 80%;
    max-height: 480px;
    z-index: 0;
}

#ad-1 {
    top: 40px;
    left: 20px;
}

#ad-3 {
    top: 40px;
    right: 20px;
}

.section-padding {
    padding: 40px calc(8% + 50px);
}

@media screen and (max-width: 1280px) {
    .ad-container {
        width: 160px;
        height: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .section-padding {
        padding: 40px 20px;
    }

    .ad-container {
        display: none;
    }
}