.score-board-montly-best,
.score-board-weekly-best {
    color: var(--white);
    text-align: center;
}

.score-board-montly-best h3,
.score-board-weekly-best h3 {
    padding: 4px 8px;
    font-size: 1.8rem;
}

.score-board-montly-best th,
.score-board-montly-best td,
.score-board-weekly-best th,
.score-board-weekly-best td {
    padding: 4px 20px;
    border: solid 1px var(--white);
    border-radius: 4px;
    font-size: 1.4rem;
}

.score-board-montly-best tr:nth-of-type(1) td:nth-of-type(2),
.score-board-weekly-best tr:nth-of-type(1) td:nth-of-type(2) {
    font-size: 1.6rem;
    font-weight: 900;

    color: transparent;
    background: linear-gradient(130deg, var(--gold-gradient));
    background-size: 150% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: moveBackground 2.5s linear infinite;
}

.score-board-montly-best tr:nth-of-type(2) td:nth-of-type(2),
.score-board-weekly-best tr:nth-of-type(2) td:nth-of-type(2) {
    font-size: 1.4rem;
    font-weight: 900;

    color: transparent;
    background: linear-gradient(130deg, var(--silver-gradient));
    background-size: 150% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: moveBackground 2.5s linear infinite;
}

.score-board-montly-best tr:nth-of-type(3) td:nth-of-type(2),
.score-board-weekly-best tr:nth-of-type(3) td:nth-of-type(2) {
    font-size: 1.4rem;
    font-weight: 900;

    color: transparent;
    background: linear-gradient(130deg, var(--bronze-gradient));
    background-size: 150% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: moveBackground 2.5s linear infinite;
}