.footer {
  border-top: 1px solid rgba(212, 175, 55, 0.3);
  padding: 2rem 1rem;
  height: 80px;
  width: 100%;
  color: #d4af37;
  background: linear-gradient(180deg, #0a0a0a 0%, #1b1b1b 100%);
  font-family: "Playfair Display", serif;
  text-align: center;
}

.footer p {
  font-size: 1.2rem;
  color: #bfa76f;
}

.footer span {
  font-size: 1.2rem;
  color: #f8e79a;
  font-weight: 600;
}

@media (max-width: 768px) {

  .footer p,
  .footer span {
    font-size: 1rem;
  }
}